
* {
    font-family: 'Montserrat', sans-serif;
}
.leaflet-label {
    pointer-events: auto;
}

#slide-panel {
	position: absolute;
	top: 0%;
    width:90vw;
    height:93vh;
    padding:10px;
    background:#eee;
    margin-left:-90vw;
}
#opener {
    float:right;
    position: relative;
    margin: 45vh -2.5em 0px 0px;
    border-radius:0;
}

#plottext {
    padding: 2%;
    font-size: 0.8em;
}
#text {
    margin-left: 3vw;
    top: 0.5vh;
    position: relative;
}

svg {
    position: absolute;
    left: 50%;
    top: 24%;
    -webkit-transform: translateX(-50%);
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.slideContainer {
    width: 100%; 
    height:100%;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.cell path{
    stroke : #000;
}
#info {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1em;
}