.navbar {
    height: 10vh;
}
#slide-panel {
	position: absolute;
	top: 0%;
    width:90vw;
    height:90vh;
    padding:10px;
    background:#eee;
    margin-left:-90vw;
}
#opener {
    float:right;
    position: relative;
    margin: 45vh -2.5em 0px 0px;
    border-radius:0;
}

svg {
    position: absolute;
    left: 50%;
    top: 28%;
    -webkit-transform: translateX(-50%);
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.slideContainer {
    width: 100%; 
    height:100%;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}